body {
    margin: 0;
    font-family: Arial;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.content {
    text-align: center;
}

.video-collage {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-top: 20px;
}

.video-collage video {
    width: 300px;
    height: auto;
    border-radius: 10px;
}
